/* --------- Global Styles --------- */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #040706;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FED766;
}

/* -------- Typography -------- */

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    color: #FE4A49;
    margin: 0;
}

p {
    color: #040706;
    margin: 20px 0;
}

/* --------- Utility --------- */

.content-width {
    width: 334px;
    margin: auto;
}

/* --------- Home Page --------- */
/* --------- Header ---------- */

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FED766;
}

header div a {
    margin-right: 10%;
}

#navbar {
    display: none;
    justify-content: space-around;
    padding: 0 10%;
    margin: 0;
    border-bottom: 1px solid #FED766;
}

#navbar li {
    padding: 15px 0;
}

/* -------- Hero Section --------- */

.hero {
    background-image: url("images/brisket.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;
}

.hero h1, .hero p {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.hero div {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hero a {
    background-color: #FED766;
    color: black;
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 5px;
}

/* -------- About Section --------- */

.about {
    background-color: #F4F4F8;
    text-align: center;
    padding: 20px;
}

.about h2, .about h3 {
    margin-top: 20px;
}

.about div {
    margin: 40px 0;
    padding: 0 10px;
}

.about img {
    border-radius: 50%;
    height: 240px;
}

/* -------- Location -------- */

.location {
    background-color: #fff5d8;
    text-align: center;
    padding: 40px 10px;
}

.location ul {
    text-align: start;
    margin: 30px 40px;
}

.location li {
    color: black;
    margin: 5px;
    border-bottom: 1px solid #04070673;
}

.location iframe {
    margin-bottom: 30px;
}

.location table {
    margin: auto;
    text-align: start;
    border-spacing: 20px 10px;
}

/* ------- Contact Section -------- */

#contact { 
    text-align: center;
    background-color: #F4F4F8;
    padding: 40px 10px;
}

#contact form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#contact label {
    padding-top: 20px;
    padding-bottom: 10px;
}

#contact .button {
    margin: 30px 80px 0px 80px;
    padding: 10px;
    background-color: #FED766;
    border: 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}